/* Hauptfarben */
.root * {
    -fx-color: #333333;
    -fx-grey1: #333333;
    -fx-grey2: #7a7a7a;
    -fx-grey3: #969696;
    -fx-primary-color: #3498db; /* Primäre Farbe (Blau) */
    -fx-text-color: #7a7a7a; /* Textfarbe (Dunkelgrau) */
    -fx-accent-color: #39ff14;
    -fx-accent-color2: #ff9900;


    -fx-icon-size: 48;

    -fx-text-fill: -fx-text-color;
}

.button {
    -fx-background-color: -fx-color;
    -fx-background-radius: 0;

    -fx-border-width: 0;
    -fx-border-radius: 0;
}

.ikonli-font-icon:hover {
    -fx-icon-color: -fx-accent-color;
}
