.combo-box {
    -fx-border-color: -fx-grey2;
    -fx-border-radius: 2;
}

.combo-box .list-view {
    -fx-background-color: -fx-color;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-border-color: transparent;
}
.combo-box .list-view .list-cell {
    -fx-background-color: transparent;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-accent-color
}
.combo-box:hover{
    -fx-border-color: -fx-accent-color;
}
.combo-box:focused{
    -fx-border-color: -fx-accent-color;

}
/*Text field styling ----------------------------*/

/* Allgemeine Regeln für das TextField */
.text-field {
    -fx-background-color: transparent; /* Hintergrundfarbe */
    -fx-border-color: -fx-grey2; /* Randfarbe */
    -fx-border-readius: 2; /* Randbreite */
}

/* Regeln für den Fokus-Zustand des TextField */
.text-field:focused {
    -fx-border-color: -fx-accent-color; /* Randfarbe im Fokus-Zustand */
    -fx-background-color: transparent; /* Hintergrundfarbe im Fokus-Zustand */
}

.button{
    -fx-border-color: -fx-grey2;
    -fx-border-radius: 2;
    -fx-border-width: 1;
}

.button:hover{
    -fx-border-color: -fx-accent-color;
}