.vbox{
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

.pane{
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

/* Setze den Hintergrund des Sliders auf dunkelgrau */
.slider {
    -fx-background-color: -fx-color;
}

/* Setze die Farbe des Slidernadels auf mittelgrau */
.slider .thumb {
    -fx-background-color: -fx-grey2;
}

/* Setze die Farbe des Slidernadels, wenn er gedrückt wird, auf helleres Grau */
.slider .thumb:pressed {
    -fx-background-color: -fx-grey3;
}

/* Setze die Farbe der Schiene des Sliders auf noch dunkleres Grau */
.slider .track {
    -fx-background-color: black;
    -fx-pref-width: 3;
}

/* Setze die Farbe des Schienennadels auf noch helleres Grau */

.slider .thumb {
    -fx-background-color: -fx-grey4;
    -fx-background-insets: 0; /* Entfernt den inneren Schatten des Thumbs */
    -fx-padding: 7; /* Ändert die Größe des Thumbs */
}

.slider .thumb {
    -fx-background-radius: 4;
    -fx-padding: 12 5 12 5;
}

.button{
    -fx-background-color: -fx-grey2;
    -fx-border-radius: 2;
    -fx-border-color: black;
    -fx-background-radius: 2;
}


.button_active{
    -fx-text-fill: lime;
}

.button_inactive{
    -fx-text-fill: red;
}
