.v-box{
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.scene_selected{
    -fx-border-width: 2;
    -fx-background-color: -fx-grey3;
}

.broder_orange{
    -fx-border-color: -fx-orange;
}
.broder_lime{
    -fx-border-color: -fx-lime;
}
.broder_purple{
    -fx-border-color: -fx-purple;
}
.broder_red{
    -fx-border-color: -fx-red;
}
.broder_pink{
    -fx-border-color: -fx-pink;
}
.broder_blue{
    -fx-border-color: -fx-blue;
}
.broder_aqua{
    -fx-border-color: -fx-aqua;
}
.broder_green{
    -fx-border-color: -fx-green;
}
.broder_white{
    -fx-border-color: -fx-white;
}